@import "./variables";

@media (max-width: $mobile-width) {
  * {
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: normal;
    min-height: 844px;
    margin: 0 auto;
    color: $main-text;
    background-color: $background-color;
  }

  .page__img {
    width: 100%;
    display: block;
  }
}